<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./test/bootstrap.php"
         colors="true">
    <testsuites>

        <testsuite name="day-one Test Suite">
            <directory>./test/one</directory>
            <directory>./test/two</directory>
        </testsuite>

        <testsuite name="day-two Test Suite">
            <directory>./test/three</directory>
            <directory>./test/four</directory>
        </testsuite>

        <testsuite name="calculator Test Suite">
            <directory>./test/one</directory>
            <directory>./test/three</directory>
        </testsuite>

        <testsuite name="user Test Suite">
            <directory>./test/two</directory>
            <directory>./test/four</directory>
        </testsuite>

    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
